.button {
    font-family: $fontStack;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    padding: 0.3rem;
    border: white 1px solid;
    text-decoration: none;
}

.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;

    .reset {
        margin-top: 5rem;
    }
}
