.list {
    border: 1px solid;
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
}

.listLine {
    display: flex;
    align-items: center;

    .xButton {
        margin-left: 1rem;
    }

}

.listLine:hover {

    .xButton{
        display: block;
    }
}