.players {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 3rem;

    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    
    .list {
        width: 30vw;
    }

    .input {
        height: 2rem;
    }

    .button {
        margin-top: 1rem;
        justify-self: center;
        display: block;
    }

    .start {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }

    .break {
        flex-basis: 100%;
        height: 0;
    }
}