.scoreOdd {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 5vw;
    min-width: 120px;

    .plainText {
        padding-bottom: 1rem;
    }

    .button {
        align-self: flex-end;
    }
}

.scoreEven {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 5vw;
    align-self: flex-end;
    min-width: 120px;
    z-index: 1;

    .plainText {
        padding-bottom: 1rem;
    }

    .button {
        align-self: flex-start;
    }
}