$fontStack: 'Press Start 2P', Helvetica, sans-serif;

.heading {
    font-family: $fontStack;
    font-size: 4rem;
    text-align: center;
    padding: 1em;
    color: white;
}

.plainText {
    font-family: $fontStack;
    font-size: 1.5rem;
    color: white;
}

.player {
    font-family: $fontStack;
    font-size: 1rem;
    color: white;
    padding: 0.5rem 0;
}

.listItem {
    font-family: $fontStack;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem 0;
    margin-left: 1rem;
    list-style-type: square;
}

.listTitle {
    font-family: $fontStack;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem 0;
}

.score1 {
    font-family: $fontStack;
    font-size: 1.5rem;
    color: white;
    grid-column: 7 / 10;
    grid-row: 2 / 5;
    text-align: left;
}

.score2 {
    font-family: $fontStack;
    font-size: 1.5rem;
    color: white;
    grid-column: 12 / 15;
    grid-row: 2 / 5;
    text-align: right;
}

.gameHeader {
    font-family: $fontStack;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.blinking{
    animation:blinkingText 1.2s infinite;
    animation-iteration-count: 3;
}

@keyframes blinkingText{
    0%{     color: white;    }
    49%{    color: white; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: white;    }
}