.heading {
  font-family: "Press Start 2P", Helvetica, sans-serif;
  font-size: 4rem;
  text-align: center;
  padding: 1em; }

.plainText {
  font-family: "Press Start 2P", Helvetica, sans-serif;
  font-size: 1.5rem; }

.centerText {
  text-align: center;
  margin: auto 0;
  padding-bottom: 2rem; }

.warn {
  padding-top: 2rem; }

.player {
  font-family: "Press Start 2P", Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0.5rem 0; }

.listItem {
  font-family: "Press Start 2P", Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin-left: 1rem;
  list-style-type: square; }

.listTitle {
  font-family: "Press Start 2P", Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem 0; }

.score1 {
  font-family: "Press Start 2P", Helvetica, sans-serif;
  font-size: 1.5rem;
  grid-column: 7 / 10;
  grid-row: 2 / 5;
  text-align: left; }

.score2 {
  font-family: "Press Start 2P", Helvetica, sans-serif;
  font-size: 1.5rem;
  grid-column: 12 / 15;
  grid-row: 2 / 5;
  text-align: right; }

.gameHeader {
  font-family: "Press Start 2P", Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: center; }

.blinking {
  animation: blinkingText 1.2s infinite;
  animation-iteration-count: 3; }

@keyframes blinkingText {
  0% {
    color: white; }
  49% {
    color: white; }
  60% {
    color: transparent; }
  99% {
    color: transparent; }
  100% {
    color: white; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.body {
  margin: 0.5rem 5rem; }

.list {
  border: 1px solid;
  padding: 1rem 2rem;
  width: 100%;
  box-sizing: border-box; }

.listLine {
  display: flex;
  align-items: center; }
  .listLine .xButton {
    margin-left: 1rem; }

.listLine:hover .xButton {
  display: block; }

.button {
  font-family: "Press Start 2P", Helvetica, sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  padding: 0.3rem;
  border: white 1px solid;
  text-decoration: none; }

.win {
  width: 40%;
  margin-top: 1.5rem; }

.centerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem; }
  .centerButton .reset {
    margin: 2.5rem 0; }

.xButton {
  font-family: "Press Start 2P", Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  background-color: black;
  display: none;
  border: none;
  text-decoration: none;
  width: 1rem;
  height: 1rem; }

.card {
  border: 1px solid;
  width: 20vw;
  height: 35vh;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(32, 3.125%);
  justify-content: center;
  position: relative;
  min-width: 260px; }

.here:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px dotted;
  transform: translate(-50%); }

.bar {
  background: white;
  width: 100%;
  height: 100%; }

.bar1 {
  grid-column: 2 / 3;
  grid-row: 19/ 25; }

.bar2 {
  grid-column: 19 / 20;
  grid-row: 9 / 15; }

.cardScore {
  display: flex; }

.fullCard {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 500px;
  max-width: 500px;
  padding-top: 2rem; }

.cardGroup {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.cardHeader {
  width: 100%;
  min-width: 260px;
  text-align: center; }

.scoreOdd {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 5vw;
  min-width: 120px; }
  .scoreOdd .plainText {
    padding-bottom: 1rem; }
  .scoreOdd .button {
    align-self: flex-end; }

.scoreEven {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 5vw;
  align-self: flex-end;
  min-width: 120px;
  z-index: 1; }
  .scoreEven .plainText {
    padding-bottom: 1rem; }
  .scoreEven .button {
    align-self: flex-start; }

.input {
  font-family: "Press Start 2P", Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 0.3rem;
  width: 25vw;
  border: 2px solid; }

* {
  background-color: black; }

.cardLanding {
  border: 1px white solid;
  width: 396px;
  height: 246px;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: black; }

.leftBar {
  position: absolute;
  width: 6px;
  height: 50px;
  background-color: white;
  bottom: 40px;
  left: 15px;
  animation: sideleft 3s infinite alternate ease-in-out; }

.rightBar {
  position: absolute;
  width: 6px;
  height: 50px;
  background-color: white;
  top: 190px;
  left: 375px;
  animation: sideright 3s infinite  ease-in-out; }

.ball {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: white;
  left: 369px;
  top: 200px;
  animation: pong 3s infinite  linear; }

@keyframes sideleft {
  0% {
    top: 10px; }
  25% {
    top: 20px; }
  50% {
    top: 180px; }
  75% {
    top: 170px; }
  100% {
    top: 10px; } }

@keyframes sideright {
  0% {
    top: 100px; }
  25% {
    top: 20px; }
  50% {
    top: 120px; }
  60% {
    top: 190px; }
  100% {
    top: 100px; } }

@keyframes pong {
  0% {
    left: 21px;
    top: 30px; }
  5% {
    left: 40px;
    top: 0px; }
  55% {
    left: 369px;
    top: 190px; }
  65% {
    left: 330px;
    top: 241px; }
  100% {
    left: 21px;
    top: 30px; } }

.players {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 3rem; }
  .players .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
  .players .list {
    width: 30vw; }
  .players .input {
    height: 2rem; }
  .players .button {
    margin-top: 1rem;
    justify-self: center;
    display: block; }
  .players .start {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem; }
  .players .break {
    flex-basis: 100%;
    height: 0; }

* {
  background-color: black;
  color: white;
  border-color: white; }

html {
  overflow-y: scroll;
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden; }

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: 142px -194.66667px white, 58px -51.66667px white, 126px -73.66667px white, 143px -184.66667px white, 36px 0.33333px white, 234px -251.66667px white, 59px -110.66667px white, -52px -219.66667px white, 86px -365.66667px white, 188px -22.66667px white, -156px 19.33333px white, 74px -149.66667px white, -156px -392.66667px white, 88px -156.66667px white, 185px -11.66667px white, 80px -17.66667px white, 223px -22.66667px white, -169px 67.33333px white, -238px -219.66667px white, 219px -319.66667px white, -114px -141.66667px white, 4px 22.33333px white, -153px -408.66667px white, 169px -76.66667px white, 115px 35.33333px white, -90px -31.66667px white, 69px -227.66667px white, 221px -174.66667px white, -197px 40.33333px white, 172px 77.33333px white, -89px 26.33333px white, -64px -2.66667px white, 197px -99.66667px white, 247px -258.66667px white, 98px -385.66667px white, 56px -128.66667px white, -60px -52.66667px white, 183px -22.66667px white, -211px 44.33333px white, 24px -200.66667px white, -176px -174.66667px white, -101px -241.66667px white, 196px -93.66667px white, -248px -177.66667px white, 173px -329.66667px white, -186px -389.66667px white, -83px -118.66667px white, -43px -365.66667px white, -206px -215.66667px white, 194px -134.66667px white, -244px -384.66667px white; } }

@-moz-keyframes bang {
  to {
    box-shadow: 142px -194.66667px white, 58px -51.66667px white, 126px -73.66667px white, 143px -184.66667px white, 36px 0.33333px white, 234px -251.66667px white, 59px -110.66667px white, -52px -219.66667px white, 86px -365.66667px white, 188px -22.66667px white, -156px 19.33333px white, 74px -149.66667px white, -156px -392.66667px white, 88px -156.66667px white, 185px -11.66667px white, 80px -17.66667px white, 223px -22.66667px white, -169px 67.33333px white, -238px -219.66667px white, 219px -319.66667px white, -114px -141.66667px white, 4px 22.33333px white, -153px -408.66667px white, 169px -76.66667px white, 115px 35.33333px white, -90px -31.66667px white, 69px -227.66667px white, 221px -174.66667px white, -197px 40.33333px white, 172px 77.33333px white, -89px 26.33333px white, -64px -2.66667px white, 197px -99.66667px white, 247px -258.66667px white, 98px -385.66667px white, 56px -128.66667px white, -60px -52.66667px white, 183px -22.66667px white, -211px 44.33333px white, 24px -200.66667px white, -176px -174.66667px white, -101px -241.66667px white, 196px -93.66667px white, -248px -177.66667px white, 173px -329.66667px white, -186px -389.66667px white, -83px -118.66667px white, -43px -365.66667px white, -206px -215.66667px white, 194px -134.66667px white, -244px -384.66667px white; } }

@-o-keyframes bang {
  to {
    box-shadow: 142px -194.66667px white, 58px -51.66667px white, 126px -73.66667px white, 143px -184.66667px white, 36px 0.33333px white, 234px -251.66667px white, 59px -110.66667px white, -52px -219.66667px white, 86px -365.66667px white, 188px -22.66667px white, -156px 19.33333px white, 74px -149.66667px white, -156px -392.66667px white, 88px -156.66667px white, 185px -11.66667px white, 80px -17.66667px white, 223px -22.66667px white, -169px 67.33333px white, -238px -219.66667px white, 219px -319.66667px white, -114px -141.66667px white, 4px 22.33333px white, -153px -408.66667px white, 169px -76.66667px white, 115px 35.33333px white, -90px -31.66667px white, 69px -227.66667px white, 221px -174.66667px white, -197px 40.33333px white, 172px 77.33333px white, -89px 26.33333px white, -64px -2.66667px white, 197px -99.66667px white, 247px -258.66667px white, 98px -385.66667px white, 56px -128.66667px white, -60px -52.66667px white, 183px -22.66667px white, -211px 44.33333px white, 24px -200.66667px white, -176px -174.66667px white, -101px -241.66667px white, 196px -93.66667px white, -248px -177.66667px white, 173px -329.66667px white, -186px -389.66667px white, -83px -118.66667px white, -43px -365.66667px white, -206px -215.66667px white, 194px -134.66667px white, -244px -384.66667px white; } }

@-ms-keyframes bang {
  to {
    box-shadow: 142px -194.66667px white, 58px -51.66667px white, 126px -73.66667px white, 143px -184.66667px white, 36px 0.33333px white, 234px -251.66667px white, 59px -110.66667px white, -52px -219.66667px white, 86px -365.66667px white, 188px -22.66667px white, -156px 19.33333px white, 74px -149.66667px white, -156px -392.66667px white, 88px -156.66667px white, 185px -11.66667px white, 80px -17.66667px white, 223px -22.66667px white, -169px 67.33333px white, -238px -219.66667px white, 219px -319.66667px white, -114px -141.66667px white, 4px 22.33333px white, -153px -408.66667px white, 169px -76.66667px white, 115px 35.33333px white, -90px -31.66667px white, 69px -227.66667px white, 221px -174.66667px white, -197px 40.33333px white, 172px 77.33333px white, -89px 26.33333px white, -64px -2.66667px white, 197px -99.66667px white, 247px -258.66667px white, 98px -385.66667px white, 56px -128.66667px white, -60px -52.66667px white, 183px -22.66667px white, -211px 44.33333px white, 24px -200.66667px white, -176px -174.66667px white, -101px -241.66667px white, 196px -93.66667px white, -248px -177.66667px white, 173px -329.66667px white, -186px -389.66667px white, -83px -118.66667px white, -43px -365.66667px white, -206px -215.66667px white, 194px -134.66667px white, -244px -384.66667px white; } }

@keyframes bang {
  to {
    box-shadow: 142px -194.66667px white, 58px -51.66667px white, 126px -73.66667px white, 143px -184.66667px white, 36px 0.33333px white, 234px -251.66667px white, 59px -110.66667px white, -52px -219.66667px white, 86px -365.66667px white, 188px -22.66667px white, -156px 19.33333px white, 74px -149.66667px white, -156px -392.66667px white, 88px -156.66667px white, 185px -11.66667px white, 80px -17.66667px white, 223px -22.66667px white, -169px 67.33333px white, -238px -219.66667px white, 219px -319.66667px white, -114px -141.66667px white, 4px 22.33333px white, -153px -408.66667px white, 169px -76.66667px white, 115px 35.33333px white, -90px -31.66667px white, 69px -227.66667px white, 221px -174.66667px white, -197px 40.33333px white, 172px 77.33333px white, -89px 26.33333px white, -64px -2.66667px white, 197px -99.66667px white, 247px -258.66667px white, 98px -385.66667px white, 56px -128.66667px white, -60px -52.66667px white, 183px -22.66667px white, -211px 44.33333px white, 24px -200.66667px white, -176px -174.66667px white, -101px -241.66667px white, 196px -93.66667px white, -248px -177.66667px white, 173px -329.66667px white, -186px -389.66667px white, -83px -118.66667px white, -43px -365.66667px white, -206px -215.66667px white, 194px -134.66667px white, -244px -384.66667px white; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@media only screen and (max-width: 600px) {
  .body {
    margin: 0 1rem;
    text-align: center; }
  .heading {
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 3rem; }
  .plainText {
    font-size: 1rem; }
  .playerForm .button {
    margin-left: auto;
    margin-right: auto; }
  .input {
    font-size: 1rem;
    width: 50vw;
    height: 1rem; }
  .players .list {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem; }
  .players .input {
    height: 1rem; }
  .listTitle {
    font-size: 1rem; }
  .listItem {
    font-size: 1rem; }
  .button {
    font-size: 1rem; }
  .cardGroup {
    flex-direction: column; }
    .cardGroup .fullCard {
      margin-right: auto;
      margin-left: auto; }
  .button.reset {
    margin-bottom: 3rem; }
  .cardLanding {
    display: none; }
  .heading.landing {
    margin-top: 25vh; } }

@media only screen and (max-width: 400px) {
  .heading {
    font-size: 1.25rem; }
  .plainText {
    font-size: 0.9rem; }
  .button {
    font-size: 0.9rem; }
  .cardGroup {
    align-items: center; }
  .fullCard {
    min-width: 250px;
    align-items: center; }
  .card {
    min-width: 175px;
    height: 200px; }
  .gameHeader {
    font-size: 1.25rem; }
  .scoreOdd {
    min-width: 15vw; }
  .scoreEven {
    min-width: 15vw; }
  .player {
    font-size: 0.5rem;
    word-wrap: break-word; }
  .button.reset {
    margin-top: 0rem; }
  .button.next {
    margin-bottom: 2rem; }
  .score1 {
    font-size: 0.9rem; }
  .score2 {
    font-size: 0.9rem; }
  .button.win {
    width: 50vw; } }
